@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-assignment-1 {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

body{
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 16px;
    line-height: 26px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Common styles */

.section-title{
    font-size: 32px;
    font-weight: 800;
}

.btn{
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #0D1321;
    padding: 17px 24px;
    text-align: center;
    text-decoration: none;
}

/* Header section with hero */

header  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

header > nav > h3{
    font-size: 28px;
    font-weight: 800;
    font-family: "Azeret Mono", monospace;
}